<!DOCTYPE html>
<html>
  <head>
    <title>Mucho Docs - {{title}}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <style type="text/css">
    @font-face {
      font-family: 'Droid Sans';
      font-style: normal;
      font-weight: normal;
      src: local('Droid Sans'), local('DroidSans'), url('DroidSans.woff') format('woff');
    }
    </style>
    <link href='http://fonts.googleapis.com/css?family=Andika|Cantarell:400,700,400italic' rel='stylesheet' type='text/css' />
    <link href='http://fonts.googleapis.com/css?family=Droid+Sans+Mono' rel='stylesheet' type='text/css' />
    <script src="{{asset 'jquery-1.6.1.min.js'}}"></script>
    <link type="text/css" rel="stylesheet" href="{{asset 'style.css'}}"/>
    <link type="text/css" rel="stylesheet" href="{{asset 'assert.css'}}"/>
    <link type="text/css" rel="stylesheet" href="{{asset 'prettify.css'}}"/>
    <link type="text/css" rel="stylesheet" href="{{asset 'pilcrow.css'}}"/>
    <link type="text/css" rel="stylesheet" href="{{asset 'hljs-github.min.css'}}"/>

    <script type="text/javascript" src="{{asset 'prettify.js'}}"></script>
    <!-- Script runner -->
    <script type="text/javascript" src="{{asset 'runner.js'}}"></script>
  </head>
<body>
  <div id="wrapper">
    <div id="header">
        <h1>Mucho Documentation
    </div>
    <div class="clear">
      <hr>
    </div>

     <!-- Main -->

    <div id="main">
      <div id="container">
        <div id="content" class="post">

        {{~> content}}

        </div>
      </div>
    </div>
    <div id="sidebar">
      {{~> toc}}
    </div>
    <div class="clear">
    </div>

  </div>
</body>
</html>
